@font-face {
  font-family: 'Turkey Sandwich';
  src: url('../assets/fonts/TurkeySandwich.eot');
  src: local('Turkey Sandwich'), local('TurkeySandwich'),
  url('../assets/fonts/TurkeySandwich.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/TurkeySandwich.woff2') format('woff2'),
  url('../assets/fonts/TurkeySandwich.woff') format('woff'),
  url('../assets/fonts/TurkeySandwich.ttf') format('truetype'),
  url('../assets/fonts/TurkeySandwich.svg#TurkeySandwich') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

#menu {
  display: none;
  background-color: transparent;
  padding: 0 35%;
  position: absolute;
    top: 25%;
    left: 0;
    right: 0;

}

.menu-option {
  font-family: 'Turkey Sandwich';
  font-size: 4em;
  text-align: center;
}

.menu-option:hover {
  color: white;
  text-shadow: 6px 6px red;
}

.active {
  color: white;
  text-shadow: 6px 6px red;
  cursor: pointer;
}
